<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Whatever</title>
  </head>
  <body>
    <h1>Today</h1>
    <% date = DateTime.now.strftime("%A, %B %d, %Y") %>
    <p>The is date is <%= date %></p>
  </body>
</html>