<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <%= date=Time.now %>
        <h1><%= "#{date.strftime("The date is %A, %B %d, %Y.")}"%></h1>
    </body>
</html>